
<div class="card" *ngFor="let movie of movies">
  <img src="./assets/poster.jpg" alt="" position="center">
  <div class="title">{{movie}}</div>
  <div class="stars">
    <img class="star" src="./assets/star_filled.png"><img class="star" src="./assets/star_filled.png"><img class="star" src="./assets/star_filled.png"><img class="star" src="./assets/star_filled.png"><img src="./assets/star_empty.png" alt="">
  </div>
  <div class="price">
    <div class="strikethrough">$22.95</div>
    <div>$15.00</div>
  </div>
  <button class="cart">Add to Cart</button>
</div>